:root {
    --navbar-bg-color: #2c3e50; /* Dark blue background */
    --navbar-text-color: #ecf0f1; /* Light grey text */
    --navbar-hover-bg-color: #34495e; /* Slightly lighter dark blue */
}

.navbar {
    background-color: var(--navbar-bg-color);
    overflow: hidden; 
    height: 70px; /* Typical height for a navbar */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* List items will wrap to the next line */
}
.navbar h1 {
    color: var(--navbar-text-color); /* Light grey text */
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    order: 1; /* Move the logo to the left */
}
.navbar li{
    color: var(--navbar-text-color); /* Light grey text */
    padding: 15px; /* Add padding to the list items */
    display: block; 
    text-align: center; 
    float: left; /* Align list items to the left */
    font-size: 1rem; 
}

.navbar li:hover{ 
    cursor: pointer;
}

.navbar a {
    color: var(--navbar-text-color); /* Light grey text */
    text-decoration: none; /* Remove underline */
}

 .navbar a:hover {
    text-decoration: none; 
} 

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure full width */
    order: 3; /* Keep the options on the right */
    flex-wrap: wrap; /* Allow wrapping */
}

.navbar ul.show {
    display: flex;
    flex-direction: column; /* Change to column when shown */
}

.navbar-toggle {
    background-color: var(--navbar-bg-color); /* Dark blue background */
    border: none;
    color: var(--navbar-text-color); /* Light grey text */
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    order: 2; /* Move the toggle button to the right of the logo */
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        flex-direction: row; /* Keep row direction */
        justify-content: space-between; /* Space between logo and toggle */
        align-items: center;
    }
    .navbar h1 {
        font-size: 1.5rem;
        padding: 15px;
        order: 1;
    }
    .navbar-toggle {
        display: block; /* Show toggle button on smaller screens */
        order: 2;
    }
    .navbar li {
        color: var(--navbar-text-color); /* Light grey text */
        font-size: 1.2rem;
        padding: 10px;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        order: 3;
    }
    .navbar ul.show {
        display: flex;
        background-color: var(--navbar-bg-color); /* Dark blue background */
    }
}

@media (min-width: 769px) {
    .navbar ul {
        display: flex !important; /* Always show list items on larger screens */
        flex-direction: row;
        width: auto;
        order: 3;
    }
    .navbar-toggle {
        display: none; /* Hide toggle button on larger screens */
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar h1 {
        color: var(--navbar-text-color); /* Light grey text */
        font-size: 1rem;
        padding: 8px;
        order: 1; /* Move the logo to the top */
    }
    .navbar-toggle {
        order: 2; /* Move the toggle button below the logo */
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        order: 3;
    }
    .navbar ul.show {
        display: flex;
        background-color: var(--navbar-bg-color); /* Dark blue background */
    }
    .navbar li {
        color: var(--navbar-text-color); /* Light grey text */
        font-size: 1rem;
        padding: 8px;
    }
}

